Repository Joeri-Abbo/python-slack-ip, changes with the labels that .github/labeler.yml gives for each.
All labels: [JSON], [YML], [PHP], [Javascript], [blade], [Markdown], [Python], <Documentation>, Code: Tooling, Code: Tests, Models

first commit
  .github/dependabot.yml
  .gitignore
  Dockerfile
  config.example.yml
  main.py
  requirements.txt
Labels: [YML], [Python], Code: Tooling

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: [YML], Code: Tooling

Remove dep bot.
  .github/dependabot.yml
Labels: [YML], Code: Tooling

Create dependabot.yml
  .github/dependabot.yml
Labels: [YML], Code: Tooling

Remove dep bot.
  .github/dependabot.yml
Labels: [YML], Code: Tooling

Create dependabot.yml
  .github/dependabot.yml
Labels: [YML], Code: Tooling

Remove dep bot.
  requirements.txt
Labels: none

Add dep bot.
  .github/dependabot.yml
Labels: [YML], Code: Tooling

Add readme.md
  readme.md
Labels: [Markdown], <Documentation>

Update python container
  Dockerfile
Labels: none

Add notice
  main.py
Labels: [Python]

ADd logger dir
  .gitignore
  logs/.gitkeep
Labels: none

Improve loggint
  main.py
  readme.md
Labels: [Markdown], [Python], <Documentation>

Add deps
  requirements.txt
Labels: none

Add python support without python as prefix
  main.py
Labels: [Python]

Update requirements.txt
  requirements.txt
Labels: none

Update .github/workflows/label.yml to use ubuntu-latest
  .github/workflows/label.yml
Labels: [YML], Code: Tooling

ci: add pytest test suite and GitHub Actions test workflow
  .github/workflows/test.yml
  tests/test_main.py
Labels: [YML], [Python], Code: Tooling, Code: Tests

.github/labeler.yml:

"[JSON]":
  - "**/*.json"
"[YML]":
  - "**/*.yml"
"[PHP]":
  - "**/*.php"
"[Javascript]":
  - "**/*.js"
"[blade]":
  - "**/*.blade.php"
"[Markdown]":
  - "**/*.md"

"[Python]":
  - "**/*.py"

"<Documentation>":
  - "**/*.md"
  - doc/**/*
  - doxygen_doc/**/*

"Code: Tooling":
  - .github/**/*

"Code: Tests":
  - tests/**/*

"Models":
  - "**/Models/**"
